.form-container{
    border: 2px solid red;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
}

form{
    /* border: 2px solid black; */
    padding: 10px 20px;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0,0,255,0.2);
}

.form-item{
    /* border: 2px solid black; */
    padding: 10px 20px;
    margin-bottom: 5px;
}

.form-item label{
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
}
h2{
    font-size: x-large;
    margin-bottom: 6px;
    color: #0056bc;
}

.form-item input{
    border:2px solid #ddd;
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#gn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    transition: 0.2s ease;
}

button:hover{
    background-color: #0056bc;
}

a{
    text-decoration: none;
    color: white;
}


