.sign_in-container{
    /* border: 2px solid red; */
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
}

form{
    /* border: 1px solid dimgrey; */
    padding: 10px 20px;
    width: 400px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}

.signin-items{
    padding: 10px 20px;
    margin-bottom: 10px;

}

.sign_in-container label{
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
}

h2{
    color: #4433dd;
    font-size: x-large;
}

.sign_in-container input{
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    box-sizing: border-box;
}

.signin-items button{
    background-color: #007bff;
    color: white;
    padding: 6px 10px;
    margin-left: 10px;
    border-radius: 6px;
    border: none;
    transition: 0.2s ease;
}

#reg{
    text-decoration: none;
    color: white;
}

button:hover{
    background-color: #0056bc;
}