.container{
    /* border: 2px solid red; */
    padding: 300px 600px 700px;
    overflow: hidden;
}

.btn{
    background-color:  rgb(123, 123, 197);
    height: 40px;
    width: 40px;
    color: aliceblue;
    border-radius: 5px;
    margin: 2px 1px;
}

