#nav{
    height: 75px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(85, 85, 217);
    border-radius: 3px;
}

#logo{
    height: 75px;
    width: 150px;
    /* border: 1px solid aqua; */

}

ol{
    height: 75px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}  

#ad{
    height: 300px;
    width: 100%;
    margin-top: 5px;
    }

#book{
    height: 100px;
    width: 100%;
    background-color: black;
    color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#vehicles{
    /* border: 2px solid red; */
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(black, rgb(200, 206, 197));
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}




#bike{
    height: 350px;
    width: 250px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    
     
}


#lg{
    height: 75px;
    width: 150px;
}

[alt="image"]{
    height: 200px;
    width: 190px;
    margin-left: 30px;
    border-radius: 7px;

    transition-property:height width ;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}


h3{
  height: 30px;
  width: 120px;
  /* border: 2px solid black; */
  color: cornsilk; 
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 60px;
}

#kms{
    /* border: 1px solid green; */
    height: 60px ;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;
    

}



